.App {
  text-align: center;
}

.table {
  margin: 50px auto;
  width: 50%;
  border-collapse: collapse;
}

.table tr:not(:first-child):hover {
  background-color: rgba(0, 126, 165, 0.267);
}

.table th {
  padding: 10px;
  border: 1px solid darkslategrey;
  background-color: #007ea5;
  color: aliceblue;
}

.table-cell {
  padding: 10px;
  border: 1px solid darkslategrey;
  text-align: center;
}